CLIENT_ID=CLIENT_ID
CLIENT_SECRET=CLIENT_SECRET
REDIRECT_URI=http://127.0.0.1:8080/callback
AUTH_URL=https://www.openstreetmap.org/oauth2/authorize
TOKEN_URL=https://www.openstreetmap.org/oauth2/token
QUERY=[out:json];area["ISO3166-1"="RO"][boundary=administrative]->.searchArea;(node["amenity"="drinking_water"](area.searchArea);node["man_made"="water_well"](area.searchArea);node["natural"="spring"](area.searchArea);node["amenity"="toilets"]["drinking_water"](area.searchArea);node["man_made"="water_tap"](area.searchArea);node["amenity"="shelter"]["drinking_water"](area.searchArea);node["tourism"="wilderness_hut"]["drinking_water"](area.searchArea);node["tourism"="camp_site"]["drinking_water"](area.searchArea);node["tourism"="camp_pitch"]["drinking_water"](area.searchArea);node["highway"="rest_area"]["drinking_water"](area.searchArea);node["amenity"="fountain"]["drinking_water"](area.searchArea);node["waterway"="stream"]["drinking_water"](area.searchArea);node["amenity"="watering_place"]["drinking_water"](area.searchArea););out body;>;out skel qt;
CHANGESET_COMMENT=Added new Drinking Water Source
CREATED_BY=FountainMap.com Editor